<!-- Page Header/Breadcumb Section -->
<section class="breadcumb-section regislogin-header" id="breadcumb-header-section">
    <!-- Judul Breadcumb -->
    <h2 class="page-title">Register Shop</h2>

    <!-- List Breadcumb -->
    <ol class="breadcumb-list">
        <li class="breadcumb-item">
            <a href="/" class="breadcumb-link">Home</a>
        </li>

        <li class="breadcumb-item">
            <a href="/seller/register-shop/<%= alldataUserProfile._id %>" class="breadcumb-item">Register Shop</a>
        </li>
    </ol>

</section>
<!-- Page Header/Breadcumb Section -->


<!-- Register Shop Section -->
<section class="edit-profile-section reveal" id="edit-profile-user-section">

    <% if(flshMsg) { %>

    <div id="pesan-error">
        <ul>
            <li>
                <%= flshMsg %>
            </li>
        </ul>
    </div>

    <% } %>

    <% if (!alldataUserProfile) { %>

    <div id="pesan-error">
        <ul>
            <li>Data User Tidak di Temukan</li>
        </ul>
    </div>

    <% } else {%>

    <div class="container-edit-profile">

        <!-- Judul Form Register -->
        <div class="title">Registration Shop</div>

        <!-- Form Edit Profile -->
        <div class="contenteditprofileform">
            <form action="/seller/register-shop/<%= alldataUserProfile._id %>" method="post" id="form-editprofile">

                <div class="profile-details">

                    <!-- Input Hidden ID User Pemilik Tokonya -->
                    <input type="hidden" name="idpemiliktoko" value="<%= alldataUserProfile._id %>">

                    <!-- Nama toko input -->
                    <div class="input-box-profile">
                        <label for="namatoko" class="details">Nama Toko *</label>
                        <input id="namatoko" type="text" pattern="^.{5,}$" title="Tolong masukkan minimal 5 karakter"
                            name="namatoko" placeholder="Masukkan Nama Toko" autofocus required>
                    </div>

                    <!-- Alamat toko input -->
                    <div class="input-box-profile">
                        <label for="address" class="details">Alamat Toko *</label>
                        <input id="address" type="text" name="alamat" placeholder="Masukkan Alamat Toko"
                            value="<%= alldataUserProfile.alamat %>" required>
                    </div>

                    <!-- Email pemilik input -->
                    <div class="input-box-profile">
                        <label for="Email" class="details">Email *</label>
                        <input id="Email" type="email" name="email" placeholder="Enter your email"
                            value="<%= alldataUserProfile.email %>" readonly required>
                    </div>

                    <!-- No. Telp pemilik input -->
                    <div class="input-box-profile">
                        <label for="notelp" class="details">Nomor Telepon *</label>
                        <input id="notelp" type="tel" pattern="^\+?[0-9]{10,13}$"
                            title="Tolong masukkan no. Telp yang Valid" name="notelp" placeholder="Enter your number"
                            value="<%= alldataUserProfile.notelp %>" required>
                    </div>

                    <!-- Kota input -->
                    <div class="input-box-profile">
                        <label for="city" class="details">Kota *</label>
                        <input id="city" type="text" name="kota" placeholder="Enter your City"
                            value="<%= alldataUserProfile.kota %>" required>
                    </div>

                    <!-- Kecamatan input -->
                    <div class="input-box-profile">
                        <label for="districts" class="details">Kecamatan *</label>
                        <input id="districts" type="text" name="kecamatan" placeholder="Enter your Districts"
                            value="<%= alldataUserProfile.kecamatan %>" required>
                    </div>

                    <!-- Provinsi input -->
                    <div class="input-box-profile">
                        <label for="province" class="details">Provinsi *</label>
                        <input id="province" type="text" name="provinsi" placeholder="Enter your Province"
                            value="<%= alldataUserProfile.provinsi %>" required>
                    </div>

                    <!-- Kode Pos input -->
                    <div class="input-box-profile">
                        <label for="postalcode" class="details">Kode Pos *</label>
                        <input id="postalcode" type="text" name="kodepos" placeholder="Enter your Postal Code"
                            pattern="^([1-9])[0-9]{4}$" value="<%= alldataUserProfile.kodepos %>" required>
                    </div>

                </div>

                <div class="button-upprofile">
                    <!-- Button Cancel -->
                    <a href="/profile/<%= alldataUserProfile._id %>" class="btn-cancel-update">Cancel</a>

                    <!-- Button Daftar Toko -->
                    <button type="submit" class="btn-update-profile">Daftar Toko</button>
                </div>

            </form>
        </div>

    </div>

    <% } %>

</section>
<!-- Register Shop Section -->





<script src="/js/navbarscript.js"></script>
<script src="/js/scrolltotop.js"></script>
<script src="/js/subscribeform.js"></script>